nextflow.enable.dsl=2

includeConfig 'params.config'

process {
    executor = "${System.env.executor}"
    queueSize = 1000   
    submitRateLimit = '1sec'
    clusterOptions = "${System.env.project_group}"
    container = "${System.env.work_dir}/containers/embeddings_mutsig.sif"
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B "$root_dir"'
}

trace {
    enabled = true
    overwrite = true
    file = "trace"
}

dag {
    enabled = true
    overwrite = true
    file = "dag_flowchart.svg"
}
