params {
    // input files
    work_dir = "${System.env.work_dir}/"
    files_dir = "data/nn_input/SNVs__kucab_zou_petljak_hwang/k-"
    training_set = "SNVs__kucab_zou_petljak_hwang_train"
    validation_set = "SNVs__kucab_zou_petljak_hwang_validate"
    testing_set = "SNVs__kucab_zou_petljak_hwang_test"
    all_sets = "SNVs__kucab_zou_petljak_hwang_all"

    // parameter values
    batch_size = 256
    learning_rate = 0.0008
    patience = 20
    kernel_size_conv1 = 3 // odd values
    out_channels_conv1 = 32
    kernel_size_conv2 = 3 // odd values
    out_channels_conv2 = 64
    kernel_size_maxpool = 2
    fc1_neurons = 256
    dropout_fc1 = 0.5
    fc2_neurons = [16,32] // K signatures --> embeddings are the output of fc2 after ReLU and dropout
    dropout_fc2 = 0.4
    epochs = 500
    kmer = [5,7,9,11,13,15,17,19,21,23,25] // odd values (WARNING: 3-mer would require kernel_size_* == 1)
    training_perc = 70
    validation_perc = 15
    test_perc = 15
    subsetting_seed = 1

    // time, memory, partitions
    hours_training = 4
    GB_training = 22
    partition_training = "${System.env.partition_fast_short}"
}
