params {

    // input files
    work_dir = "${System.env.work_dir}/"
    files_dir = "data/nn_input/SNVs__kucab_zou_petljak_hwang/k-"
    training_set = "SNVs__kucab_zou_petljak_hwang_train"
    validation_set = "SNVs__kucab_zou_petljak_hwang_validate"
    testing_set = "SNVs__kucab_zou_petljak_hwang_test"
    all_sets = "SNVs__kucab_zou_petljak_hwang_all"

    // parameter values
    batch_size = [512,1024]
    learning_rate = [0.0004,0.0008]
    patience = [20,40]
    kernel_size_conv1 = [2,3]
    out_channels_conv1 = [16,32]
    kernel_size_maxpool1 = [2,3]
    kernel_stride_maxpool1 = [1,2]
    kernel_size_conv2 = [2,3]
    out_channels_conv2 = [32,64]
    fc1_neurons = [16,32]
    dropout_fc1 = [0.2,0.3]
    fc2_neurons = [16,32]
    dropout_fc2 = [0.3,0.4]
    epochs = 500
    kmer = [3,9,21,41]
    training_perc = 70
    validation_perc = 15
    test_perc = 15
    subsetting_seed = 1

    // time, memory, and partition per process demands
    time_4h = 4
    time_10h = 10
    time_1d = 24
    time_2d = 48
    memory_1G = 1
    memory_4G = 4
    memory_10G = 10
    memory_50G = 50
    partition_fast_short = "${System.env.partition_fast_short}"
    partition_slow_long = "${System.env.partition_slow_long}"
    partition_slowest_unlimited = "${System.env.partition_slowest_unlimited}"
}
