nextflow.enable.dsl=2

params {
	// input files
    
    input_files_list = "${System.env.work_dir}/data/nn_input/XXXXX.tsv"

	// time, memory, and partition per process demands

    time_4h = 4
    time_10h = 10
    time_1d = 24
    time_2d = 48
    memory_700M = 0.7
    memory_4G = 4
    memory_10G = 10
    memory_50G = 50
	partition_fast_short = "${System.env.partition_fast_short}"
	partition_slow_long = "${System.env.partition_slow_long}"
	partition_slowest_unlimited = "${System.env.partition_slowest_unlimited}"
}

